* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed !important;
}

.bg-body{
  background-color: #ededed;
}
.input-search{
  width: 25rem;
  height: 42px;
  margin-top: 2px;
  border-radius: 5px;
  text-indent: 10px;

}

.m-100{
  height: 100vh !important;
}

.photoUser{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none!important;
  cursor: pointer;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}